{% extends 'base.html' %}

{% block title %} Профиль пользователя {% endblock %}

{% block content %}
<table>
    <tr>
        <td><p>Имя пользователя:</p></td>
        <td><p> {{ object.username }}</p></td>
    </tr>
    <tr>
        <td><p>Мыло</p></td>
        <td><p> {{ object.email }}</p></td>
    </tr>
    <tr>
        <td><p>Статьи</p></td>
        <td>
            {% for article in object.article_set.all %}
                <p>{{ article }} <a href="{% url 'art_detail' id=article.id %}">Подробнее</a></p>
            {% endfor %}
        </td>
    </tr>
 </table>
{% endblock %}