{% extends 'base.html' %}

{% block title %}Список книг{% endblock %}
{% block content %}
    <h5><a href="{% url 'home' %}">На главную</a></h5>
    <h4>Книжечки, мой друг.</h4>
    <div>
        <h2>Книг на странице: {{ object_list.count }}</h2>
        <table border="1", cellspacing="1px" cellpadding="5px">
        <tr style="font-weight: bold">
                <td>id</td>
                <td align="center">Название книги</td>
                <td>Страниц</td>
                <td align="center">Цена, грн</td>
                <td>Дата публикации</td>
                <td>Ссылка</td>
                <td>Авторов</td>
            </tr>
        {% for instance in object_list %}
            <tr>
                <td>{{ instance.id }}</td>
                <td>{{ instance.name  }}</td>
                <td align="center">{{ instance.pages }}</td>
                <td>{{ instance.price }}</td>
                <td>{{ instance.pubdate }}</td>
                <td><a href="{% url 'detailed' pp=instance.id %}">подробнее...</a></td>
                <td align="center">{{ instance.authors__count }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <p></p>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; первая &laquo;</a>
            <a href="?page={{ page_obj.previous_page_number }}">пред.</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">след.&raquo;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}

