{% extends 'base.html' %}

{% block title %}Статьи{% endblock %}
{% block content %}
    <h4> Статьи, мой друг.</h4>
    <div>
        <h2>Статей на странице: {{ object_list.count }}</h2>
        <table border="1", cellspacing="1px" cellpadding="5px">
        <tr style="font-weight: bold">
                <td>id</td>
                <td align="center">Название статьи</td>
                <td align="center">Краткое описание</td>
                <td>Ссылка</td>
                <td>Комментариев</td>
            </tr>
        {% for instance in object_list %}
            <tr>
                <td>{{ instance.id }}</td>
                <td>{{ instance.title  }}</td>
                <td>{{ instance.short_description  }}</td>
                <td><a href="{% url 'art_detail' id=instance.id %}">подробнее...</a></td>
                <td align="center">{{ instance.comments__count }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <p></p>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; первая &laquo;</a>
            <a href="?page={{ page_obj.previous_page_number }}">пред.</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">след.&raquo;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}

