{% extends 'base.html' %}

{% block title %}Авторы{% endblock %}

{% block content %}
    <h5><a href="{% url 'home' %}">Домой</a></h5>
    <h5><a href="{% url 'aut_crt' %}">Создать автора</a></h5>
    <table border="1" cellspacing="1" cellpadding="3">
        <tr>
            <td>ID</td>
            <td>Автор</td>
            <td>Книг</td>
            <td>Ссылка</td>

        </tr>
        {% for instance in object_list %}
            <tr>
                <td>{{ instance.id }}</td>
                <td>{{ instance.name  }}</td>
                <td align="center">{{ instance.book_set.count  }}</td>
                <td><a href="{% url 'aut_det' pp=instance.id %}">подробнее</a></td>

            </tr>
        {% endfor %}
    </table>
    <p></p>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; первая &laquo;</a>
            <a href="?page={{ page_obj.previous_page_number }}">пред.</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">след.&raquo;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
