{% extends 'base.html' %}

{% block title %}Издатель {{ object.name }}{% endblock %}

{% block content %}
    <p>Автором было написано {{ object.article_set.all.count }} статей</p>
    <table border="1" cellspacing="1" cellpadding="10">
        <tr>
            <td>Автор</td>
            <td>{{ object.username }}</td>
        </tr>
        <tr>
            <td>Статьи</td>
            <td>
                {% for article in object.article_set.all %}
                <p>{{ article }}</p>
                {% endfor %}
            </td>
        </tr>

    </table>

{% endblock %}