{% extends 'base.html' %}

{% block title %}Издатель {{ pk.name }}{% endblock %}

{% block content %}
    <p><a href="{% url 'home' %}">Главная</a></p>
    <p><a href="{% url 'authors' %}">Назад</a></p>
    <p>Автором было написано {{ pk.book_set.all.count }} книг</p>
    <table border="1" cellspacing="1" cellpadding="10">
        <tr>
            <td>Автор</td>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <td>Книги</td>
            <td>
                {% for book in object.book_set.all %}
                <p>{{ book }}</p>
                {% endfor %}
            </td>
        </tr>

    </table>

{% endblock %}