{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Mine CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block menu %}
    <!-- Начало шаблона бутстрап Навигационная горизонтальная панель -->
  <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/">Админка</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'articles' %}">Все статьи</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'users' %}">Авторы</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Пользователи
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'crt_profile' %}">Зарегистрироваться</a></li>
            <li><a class="dropdown-item" href="{% url 'profile' %}">Профиль</a></li>
            <li><a class="dropdown-item" href="{% url 'login' %}">Войти в систему</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'art_create' %}">Создать статью</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <!--  Конец Навигационной панели Bootstrap-->
{% endblock %}

{% block javaexpirements %}
    <p id="demo">JavaScript can change HTML content.</p>

    <!-- Экспериментальный скрипт -->
    <script type="text/javascript">
    {#alert('А вот и сообщение, которое не даёт странице загрузиться')#}
    </script>

<button type="button" onclick='
    document.getElementById("demo").innerHTML = "Hello JavaScript!"
    document.getElementById("cat").src="{% static 'img/cat_1.jpg' %}"
    '>Back</button>

    <img id="cat" src="{% static 'img/cat_1.jpg' %}">

<button type="button" onclick='
    document.getElementById("cat").src="{% static 'img/cat_11.jpg' %}"
    '>Red Eyes</button>
{% endblock %}

{% block content %}{% endblock %}
<!-- Вариант 1: Bootstrap в связке с Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
</body>
</html>